# Compiled object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# C++ build directories
/build/
/bin/
/Debug/
/Release/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
env/
venv/
ENV/
.venv/
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Arduino build files
*.elf
*.hex
*.eep
*.map
*.bin
*.d

# Arduino sketchbook backup
*.ino.*